<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Mazen!{% endblock %}</title>
        <link rel="stylesheet" href =https://bootswatch.com/4/lux/bootstrap.min.css>
        {% block stylesheets %}{% endblock %}
        
    </head>
    <body>
 

        <H1> Salut ! Qui etes vous ?<H1>
         <a  href="{{path('blog')}}">Etudiant <span class="sr-only">(current)</span></a>
         <a  href="{{path('blog')}}">Entreprise <span class="sr-only">(current)</span></a>
        
        
    </body>
</html>
